.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}
/* Start Button */
.start-btn {
  background: #188bd8;
  color: #fff;
  border: none;
  position: relative;
  height: 60px;
  font-size: 1.6em;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}

.start-btn:hover {
  background: #fff;
  color: #188bd8;
}
.start-btn:before,
.start-btn:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #188bd8;
  transition: 500ms ease all;
}
.start-btn:after {
  right: 0;
  top: inherit;
  left: 0;
  bottom: 0;
}

.start-btn:hover:before,
.start-btn:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
